<h2>Edit Item</h2>
<%= form_for([@project, @item], :url => { :action => :update }) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@item.errors.count, "error") %>
        prohibited this project from being saved:
      </h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= f.text_field :action, :id => "item-form-action", :class => "mdl-textfield__input" %>
    <%= f.label :action, :class => "mdl-textfield__label", :for => "item-form-action" %>
  </div>
  <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="item-form-done">
    <%= f.check_box :done, :id => "item-form-done", :class => "mdl-checkbox__input"%>
    <span class="mdl-checkbox__label">Done</span>
  </label>
  <br><br>
  <div class="actions">
    <%= f.submit :class => "mdl-button mdl-js-button mdl-button--raised mdl-button--colored" %>
    <%= link_to 'Cancel', @project, :class => "mdl-button mdl-js-button mdl-button--colored" %>
  </div>
<% end %>
