<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--[if lt IE 9]>
    <script src="http://html5.shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>Todo App</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <link id="mdl-theme" rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.blue-red.min.css">
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <script>
      // override the default color theme
      if (localStorage.color == 'pink') {
        document.getElementById('mdl-theme').href = "https://storage.googleapis.com/code.getmdl.io/1.0.4/material.pink-deep_purple.min.css"
      } else {

      }
    </script>
  </head>
  <body>
    <!-- Always shows a header, even in smaller screens. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title">Go Phish</span>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation. We hide it in small screens. -->
          <nav class="mdl-navigation mdl-layout--large-screen-only">
            <!--<a class="mdl-navigation__link" href="">Link</a>-->
          </nav>
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Go Phish</span>
        <nav class="mdl-navigation">
          <%= link_to 'Projects', projects_path, :class => "mdl-navigation__link" %>
          <hr>
          <a href="#" class="mdl-navigation__link" data-theme="red">Blue theme</a>
          <a href="#" class="mdl-navigation__link" data-theme="pink">Pink theme</a>
        </nav>
      </div>
      <main class="mdl-layout__content">
        <div class="page-content">
          <p id="notice"><%= notice %></p>
          <%= yield %>
        </div>
      </main>
    </div>
  </body>
</html>
